<div class= "topnav">
        <a href= "/">Home</a>
        <a href="/beers">Beers</a>
        <a href="/random-beers">Random-beer</a>
    </div>

        <div class = "main-photo">
        <img src="images/beer.png" alt = "beer">
        <div class = "btn-div">
            <button>Check the Beers!</button>
            <button>Check a Random Beer.</button>

        </div>
        </div>
    </div>