<div class= "topnav">
        <a href= "/">Home</a>
        <a href="/random-beer">Beers</a>
        <a href="/beers">Random-beer</a>
    </div>

        <div class = "main-photo">
        <img src="images/beer.png" alt = "beer">
        </div>

        <div class = "button-box">
            <button>Check the Beers!</button>
            <button>Check a Random Beer.</button>
        </div>
    </div>