<div id="infos">
  {{#each beersFromApi}}
      {{> beerpartial this}}
      <p>Food Pairing</p>
      <li>
      <ol>
        {{#each food_pairing}}
          <li>{{this}}</li>
        {{/each}}
      </ol>
      </li>
      <li><span>Brewers Tips:</span> {{brewers_tips}}</li>
    </div>
  {{/each}}
</div>