<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {{{body}}}
    <nav>
        <ul>
            <li>
                <a href="/index">Home</a>
            </li>
            <li>
                <a href="/index">Beers</a>
            </li>
            <li>
                <a href="/views/random-beer">Random Beer</a>
            </li>
        </ul>
    </nav>
</body>
</html>