<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>

    {{{body}}}
    <nav>
        <ul>
            <li><a href="/"> Home</a></li>
            <li><a href="#"> Beers</a></li>
            <li><a href="#"> Random Beer</a></li>

        </ul>
    </nav>
</body>

</html>