<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stylesheet/styles.css">
  <title>Ironbeers</title>
</head>

<body>
    <nav>
      <a href="/">Home</a>
      <a href="/beers">Beers</a>
      <a href="/random-beer">Random Beer</a>
    </nav>

    <footer>
      <p>Develop by Ironhack ;)</p>
    </footer>
  {{{ body }}}
</body>

</html>
