/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

body{
    text-align: center;
}

/*nav bar*/
.topnav {
    background-color:#2081c3 ;
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 4px 4px#bfbfbf;
}
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f7f9f9;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #0a2c42;
}

.main-photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
}

img{
    padding-top: 100px;
    max-width: 400px;
}

.btn-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    border-radius:10px;
    border:none;
    color:#f7f9f9;
    background-color:#2081c3;
    padding: 15px;
    width:200px;
    margin:10px;
}